body{
    background: grey;
}
.h3{
    margin-bottom:20px;
}
.content_wrapper{
    margin-top: 25px;
    max-width: 970px;
    background: #93c5ff;
}
label{
    margin-left: 20px;
    margin-top:10px;
    margin-bottom:10px;
    display: block;
}
.questions{
    padding-left: 35px;
}

.btn-group-lg>.btn, .btn-lg{
    margin-top: 20px;
    background-color: #63ff69;
    margin-left: 340px;
    margin-bottom: 20px;
}